body{
  background: #eee;
  position: relative;
  canvas{
    position: absolute;
    left:0;
    top:0;
  }
}
main{
  width: 1200px;
  height: 100%;
  margin:0 auto;
  display: flex;
}
.myInfo{
  width:300px;
  height: 100%;
  background: #ffcc6e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
  margin-right: 20px;
  canvas{
    display: block;
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
  }
  div{
    z-index: 999;
    color: #fff;
  }
  h1{
    font-size: 50px;
    font-family: "Segoe Script";
    margin-bottom: 50px;
    animation: welcome .3s ease-in-out;
  }
  .avatar{
    text-align: center;
    margin: 50px 0;
    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      &:hover{
        animation: avatar .2s ease-in-out;
      }
    }
  }
  h2{
    font-family: 隶书;
    font-size: 30px;
    &:hover{
      color: #782dff;
    }
  }
  p{
    padding:5px 0;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    &:hover{
      color: #782dff;
    }
  }
  ul{
    padding-top: 20px;
    li{
      padding:5px 0;
      &:hover{
        background: #a3f3ff;
        cursor: pointer;
      }
      a{
        position: relative;

        &:after{
          content: '';
          width: 5px;
          height:5px;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          right: 30%;
          top:50%;
          display: none;
        }
      }
    }
    li.active{
      background: #a3f3ff;
      a{
        &:after{
          display: block;
        }
      }
    }
  }
  a{
    display: block;
    transform: scale(0.8);
    color: #fff;
  }
  .feihua{
    letter-spacing: 2px ;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 0 3px #782dff;
  }
}
.content{
  flex: 1;
  height: 100%;
  position: relative;
  iframe{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left:0;
    top:0;
  }
}
::-webkit-scrollbar{
  display: none;
}

@keyframes welcome {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
@keyframes avatar {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.2,0.8);
  }
  100%{
    transform: scale(0.9,1.1);
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px){
  main{
    width: 100%;
  }
}
@media screen and (max-width: 800px){
  .bbg{
    display: none;
  }
  main{
    width: 100%;
    display: block;
  }
  .myInfo{
    width: 100%;
    height: 260px;
    //position: absolute;
    //top:0;
    .container{
      width: 100%;
      height: 100%;
      h1{
        display: none;
      }
      .avatar{
        margin: 10px 0 0 0;
        img{
          width: 100px;
          height: 100px;
        }
      }
      ul{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        li{
          padding:0;
          margin-right: 10px;
          a{
            padding:0 10px;
            //margin-bottom: 50px;
            &:after{
              top:45%;
              right: 5%;
            }
          }
        }
      }
    }
  }
  .content{
    height: calc(100% - 260px);
    overflow-y: scroll;
  }
}